{% extends 'back/master.html' %}

{% load static %}

{% block headblock %}

<title>User| List</title>

{% endblock %}

{%block mainblock %}
                
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Users List<br><small>You can Edit and Delete User</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>User</li>
                            <li><a href="/panel/user/manager">List</a></li>
                        </ul>
                        <!-- END Datatables Header -->

    <!-- Datatables Content -->/    <div class="block full">/        <div class="block-title">
            <h2><strong>User</strong> List</h2>
        </div>
        <!-- <p><a href="https://datatables.net/" target="_blank">DataTables</a> -->

        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                      
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>IP Address</th>
                        <th>Geo Location</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cc in manager %}
                    <tr>
                        <td class="text-center">{{cc.pk}}</td>
                        <th>{{cc.name}}</th>
                        <td>{{cc.username}}</td>
                        <th>{{cc.email}}</th>
                        <th>{{cc.ip}}</th>
                        <th>{{cc.geolocation}}</th>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'users_group' pk=cc.pk %}" data-toggle="tooltip" title="Groups" class="btn btn-xs btn-default"><i class="fa fa-pencil">Groups</i></a>
                                <a href="{% url 'users_perm' pk=cc.pk %}" data-toggle="tooltip" title="Groups" class="btn btn-xs btn-default"><i class="fa fa-pencil">Permissions</i></a>
                                <a href="{% url 'user_delete' pk=cc.pk %} " data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                            </div>
                        </td>
                    </tr>
                  {% endfor %}
                    
                </tbody>    
            </table>
        
        
        </div>
    </div>
    <!-- END Datatables Content -->


{% endblock %}


   {% block footerblock %}
    
      <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
      <script>$(function(){ TablesDatatables.init(); });</script>
        {% endblock %}