{% extends 'front/master.html' %}
{% load static %}

{% block headblock %}
<title>{{site.name}} | Home </title>
<meta charset="UTF-8">
<meta name="description" content="{{site.seo_name}}">
<meta name="keywords" content="{{site.seo_keyword}}">
{% endblock %}



{% block mainblock %}




<section class="bg0 p-t-60 p-b-40">
<div class="container">
	<div class="how2 how2-cl4 flex-s-c">
		<h3 class="f1-m-2 cl3 tab01-title">
			{{catname}}
		</h3>
	</div>

	<div class="row p-t-35">


	{% for i in newscat %}

		<div class="col-sm-6 col-md-4">
			<!-- Item latest -->	
			<div class="m-b-45">
				<a href= "{% url 'news_detail' word=i.name %}" class="wrap-pic-w hov1 trans-03">
					<img style="width: 350px; height:250px;" src="{{ i.picurl }}" alt="IMG">
				</a>

				<div class="p-t-16">
					<h5 class="p-b-5">
						<a href="{% url 'news_detail' word=i.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
							{{i.name}}
						</a>
					</h5>

					<p>{{i.short_text}}</p>
				
					<span class="cl8">
						<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
							by {{i.writer}}
						</a>

						<span class="f1-s-3 m-rl-3">
							-
						</span>

						<span class="f1-s-3">
							{{i.date}}
						</span>
					</span>
				</div>
			</div>
		</div>

	{% endfor %}
	<br/><br/>
   
 
 <div class="col-md-5 col-lg-4 p-b-80">
	<div class="p-l-10 p-rl-0-sr991">
		<!-- Popular Posts -->
		
		<div>
			<div class="how2 how2-cl4 flex-s-c">
				<h3 class="f1-m-2 cl3 tab01-title">
					Popular Post
				</h3>
			</div>

			<ul class="p-t-35">

				{% for pop in popnews2 %}
				<li class="flex-wr-sb-s p-b-30">
					<a href="{% url 'news_detail' word=pop.name %}" class="size-w-10 wrap-pic-w hov1 trans-03">
						<img src="{{pop.picurl}}" alt="IMG">
					</a>

					<div class="size-w-11">
						<h6 class="p-b-4">
							<a href="{% url 'news_detail' word=pop.name %}"" class="f1-s-5 cl3 hov-cl10 trans-03">
							   {{pop.name}}
							</a>
						</h6>

						<span class="cl8 txt-center p-b-24">
							<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
								{{pop.subcatname}}
							</a>

							<span class="f1-s-3 m-rl-3">
								-
							</span>

							<span class="f1-s-3">
								{{pop.date}}
							</span>
						</span>
					</div>
				</li>
				{% endfor %}
			
			</ul>
		
		</div>
	</div>
</div>
  </div>
   
</div>

</section>
<!-- Feature post -->
{% endblock %}